<h2>Log in</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <table>
    <tr>
      <th><%= f.label :ユーザー名 %></th>
        <td></td>
        <td>
          <%= f.text_field :user_name, autofocus: true, autocomplete: "user_name"  %>
        </td>
    </tr>
    <tr>
      <th><%= f.label :メールアドレス %></th>
        <td></td>
        <td>
          <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "sample@example.com"  %>
        </td>
      </tr>
      <tr>
        <th>
          <%= f.label :パスワード %>
        </th>
        <td></td>
        <td>
          <%= f.password_field :password, autocomplete: "new-password" %>
        </td>
      </tr>
    </table>

  <div class="actions">
    <%= f.submit "Log in" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
